<h1>Main#index</h1>
<p>Hello World</p>

<%= link_to('Categories',categories_path) %><br />

<%= link_to('Articles',articles_path(page: 1)) %> <br />


<a href="/articles/index">Article 1</a><br />
<%= link_to('Articles', { controller: 'articles', action: 'index' }) %><br />
<%= link_to('About', { action: 'about',page: 5, id: 20}) %><br />