<body>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Search', search_articles_path %></li>
    </ul>
  </nav>
  <div>
  <!-- Display of the title of the article in h1 and the data in p -->
    <h1><%= link_to article.title, article %></h1>
    <p><%= article.content %></p>
  </div>
</body>