<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<div class="d-flex justify-content-end mt-4">
  <%= button_to "Back to article", @article, method: :get, class:"btn btn-secondary flex-fill" %>
</div>