<div id="<%= dom_id article %>" class="card m-2 p-2">
  <div class="d-flex justify-content-between">
    <h5><%= article.title.truncate(100) %></h5>
    <%= link_to "Show this article", article %>
  </div>

  <p class="m-0"><%= article.content.truncate(300) %></p>
</div>
