<tr class="article-table__data-row">
  <td class="article-table__data-cell">
    <%= link_to article.title, article %>
  </td>
  <td class="article-table__data-cell"><%= article.content %></td>
  <td class="article-table__data-cell"><%= article.author %></td>
  <td class="article-table__data-cell"><%= article.date %></td>
</tr>
