<div class="articleContainer">
    <span class="articleTitle"><%= article.title %></span>
    <div class="articleDetails">
        <span><%= article.author %></span>
        <span><%= article.date %></span>
    </div>
    <p class="articleContent"><%= article.content %></p>
</div>