<ul>
  <% @articles.each do |article| %>
    <li>
      <b> <%= link_to article.title, article %> </b>    
      <p>
      <% if article.date.present? %>
       <i> <%= article.date %> </i>
      <% end %>

      <% if article.author.present? %>
      by <%= article.author %>
      <% end %>
      </p>
    </li>
  <% end %>
</ul>
