<table summary="Article form fields">
<tr>
  <th>Title</th>
  <td><%= f.text_field(:title) %></td>
</tr>
<tr>
  <th>Content</th>
  <td><%= f.text_field(:content) %></td>
</tr>
<tr>
  <th>Author</th>
  <td><%= f.text_field(:author) %></td>
</tr>
<tr>
  <th>Date</th>
  <td><%= f.date_field :date %></td>
</tr>
</table>