<table summary="Article form fields">
  <!-- Title Field -->
  <tr>
    <th>Title</th>
    <td><%= f.text_field(:title) %></td>
  </tr>

  <!-- Content Field -->
  <tr>
    <th>Content</th>
    <td><%= f.text_field(:content) %></td>
  </tr>

  <!-- Author Field -->
  <tr>
    <th>Author</th>
    <td><%= f.text_field(:author) %></td>
  </tr>

  <!-- Date Field -->
  <tr>
    <th>Date</th>
    <td><%= f.date_field :date %></td>
  </tr>
</table>
