<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to 'Encyclopedia', articles_path, class:'navbar-brand'%>
    <form class="d-flex" role="search" action="<%= articles_path %>" method="get">
        <input class="form-control me-2" type="search" placeholder="Search Articles" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</nav>
