<div>
  <%= form_with url: articles_search_path, method: "get" do |form| %>
    <div>
        <%= form.text_field :search_term, value: @search_term %>
        <%= form.submit :search %>
    </div>
  <% end %>
</div>
