<div>
  <%= form_with url: articles_path, method: :get do |form| %>
    <%= form.text_field :search, value: params[:search], placeholder: "Search Articles..." %>
    <%= form.submit "Search" %>
  <% end %>
</div>
