<div>
  <%= form.label header_text %><br>
  <%= form.text_area header_text %>

  <% error_messages = model.errors.full_messages_for(header_text) %>
  <% if error_messages.any? %>
    <%= error_messages.each do |message| %>
      <div><%= message %></div>>
    <% end %>
  <% end %>
</div>
