<!-- app/views/articles/destroy.html.erb -->
<h1>Delete Article</h1>

<p>Are you sure you want to delete the article titled "<%= @article.title %>"?</p>

<%= form_with(model: @article, method: :delete, local: false) do |form| %>
  <div class="actions">
    <%= form.submit "Delete", class: "btn btn-danger" %>
    <%= link_to 'Cancel', @article, class: "btn btn-secondary" %>
  </div>
<% end %>
