<h1 class="text-2xl font-bold mb-4">Update Article</h1>

<%= render "update_form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article, class: "link" %> |
  <%= link_to "Back to articles", articles_path, class: "link" %>
</div>
