<div class="page-header">
  <h1>Edit Article</h1>
</div>

<%= render "form", article: @article %>

<div class="page-links">
  <%= link_to "Show this article", @article, class: "custom-link" %> |
  <%= link_to "Back to articles", articles_path, class: "custom-link" %>
</div>
