<h1>Editing article</h1>

<%= render "form", article: @article %>

<br>

<div class="mt-1 text-center">
    <%= link_to "Back to Articles", articles_path, class: 'btn btn-secondary' %>
</div>

  <div class="mt-1 text-center">
    <%= link_to "Show Article", @article, class: 'btn btn-info' %>
  </div>
