<h1>Edit Article</h1>

<%= render 'shared/form', article: @article %>

<%= link_to 'Show', @article, class: 'btn btn-secondary' %> |

<%= link_to 'Back to Articles', articles_path, class: 'btn btn-secondary' %>