<div class="article-container">
  <h1>Editing Article</h1>

  <%= render 'form', article: @article %>

  <div class="article-actions">
    <%= link_to 'View', @article %> 
    <%= link_to 'Back', articles_path %>
  </div>
</div>
