<h2>Editing article</h2>
<%= render "form", article: @article %>
<div>
  <hr>
  <div class="" style="display:flex; flex-direction:row; justify-content:space-between;">
    <%= link_to "Back", articles_path , class:'btn btn-outline-dark'%>
    <%= link_to "View", @article, class:'btn btn-outline-primary'%>
    <%= button_to "Delete", @article, method: :delete, class:'btn btn-outline-danger'%>
  </div>
</div>
