<h1>Editing article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article, class:"btn btn-primary" %>
  <%= link_to "Back to articles", articles_path, class: 'btn btn-secondary' %>
</div>
