<!-- app/views/articles/edit.html.erb -->
<h1>Edit Article</h1>

<%= render 'form' %>

<%= link_to 'Show', @article , class: 'new-article-link' %> |
<%= link_to 'Back', articles_path , class: 'new-article-link' %>