<%# Uses form page filling it with an existing article and allow user to edit and update attributes%>
<h1>Editing Article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
