<h1 class="font-bold text-center p-4 text-3xl">Editing article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article, class:"hover:shadow-xl mt-2 flex border border-black rounded-2xl text-center hover:bg-blue-300 delay-100 transition delay-150 duration-150 ease-in-out grid w-2/12 mx-auto bg-gray-200" %>
  <%
=begin%>
 <%= link_to "Back to articles", articles_path, class: "border-2 border-black rounded-2xl text-center bg-blue-300 grid m-2 px-4" %> 
<%
=end%>
</div>
