<div class="font-serif m-8">
  <div class="flex justify-between items-center">
    <h1 class="text-5xl my-4">Editing Article</h1>
    <div class="flex justify-center items-center border-slate-400 border py-1 px-2 h-10 w-32 hover:bg-slate-100">
      <%= link_to "Back to articles", articles_path %>
    </div>
  </div>
  <%= render "form", article: @article %>
  <div class="flex justify-center items-center border border-slate-400 py-1 px-2 h-10 mt-2 w-36 hover:bg-slate-100">
    <%= link_to "Show this article", @article %> 
  </div>
</div>

