<%# UI when editing article %>

<h1 class="font-bold text-center p-4 text-3xl">Editing article</h1>
<%= render "form", article: @article %>
<div>
  <%= link_to "Show this article", @article, class:"hover:shadow-xl mt-2 flex rounded-2xl text-center hover:bg-blue-300 delay-100 transition delay-150 duration-150 ease-in-out grid w-2/12 mx-auto bg-gray-200" %>
</div>
