<%= render 'layouts/nav' %>
<div class='container'>
  <h1>Edit an Article</h1>
  <a href='/articles/<%= @article.id %>' class='btn btn-primary mb-2'> ← Go Back </a>
  <%= render 'layouts/form', article: @article %>

</div>