<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1 my-4">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Edit Article</h2>
  </div>
  <div class="mt-4 flex md:ml-4 md:mt-0">
    <%= link_to articles_path, class: "ml-3 inline-flex items-center rounded-md bg-slate-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600" do %>
      Back to Articles
    <% end %>
  </div>
</div>

<%= render "form", article: @article %>
