

<div class="centre">
  <div class="container">
    <nav class="navbar">
      <p>
        <span class="title"><%= link_to 'Encylopedia', root_path, class:'no-decoration' %></span>
        <span class="links"><%= link_to 'Articles', articles_path, class:'no-decoration' %></span>
      </p>
    </nav>
    <div class="home-articles">
      <h1>Encylopedia</h1>

      <h2>Articles</h2>
      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>