<h1>Home page</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article%>
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path %>
<%= link_to "Search", articles_search_path %>
