<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <p>
      <%= render partial: "articles/article", locals: { article: article } %>
    </p>
    <p>
      <%= link_to "Show article", article_path(article.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
