<h1>Encyclopedia</h1>

<div class="div-btn-index">
  <a href="<%= all_articles_url %>">
    <button class="btn-index-page">All Articles</button>
  </a>
  <a href="<%= new_article_url %>">
    <button class="btn-index-page">Create Article</button>
  </a>
</div>
