<h1>Encyclopedia</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title + ": " + article.content, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
