<h1>Encyclopedia</h1>
Encyclopedia article count: <%= Article.count %>

<%= render "search_bar", article: @article %>

<h3>Articles</h3>

<%= link_to "Create an Article", new_article_path %>

<% if Article.count.zero? %>
  <p> The encyclopedia is empty! Help us add an article? </p>
<% else %>
  <%= render "article_list", article: @article %>
<% end %>

