<h1>Encyclopedia</h1>
Encyclopedia has <%= Article.count %> articles

<%= render "searchbar", article: @article %>

<%= link_to "New Article", new_article_path %>

<h3>Articles</h3>

<%= render "articlelist", article: @article %>


