<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<div id="articles">
<%# Renders each article%>
  <% @articles.each do |article| %>
    <%= render article %>
    <br/>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
