<h1>Encyclopedia</h1>

<ul>
  <% @articles.each do |article|%>
    <li>
      <div>
        <%= link_to article.title, article %>
      </div>
    </li>
  <% end %>
</ul>

<%= render "layouts/navigation", locals: { title: "Create New Article", path: new_article_path } %>