<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<ul>
<li><%= link_to "New Article", new_article_path %> </li>
<li><%= link_to "See all", root_path %></li>
</ul>