<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%
=begin%>
 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> 
<%
=end%>




<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <br/>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
