<h1>Encyclopedia</h1>
<p>
  <%= link_to 'New Article' , new_article_path %>
</p>
<br />
<%= render 'search' %>
<h2>Articles</h2>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>
