<h1>Encyclopedia</h1>

<h2>Articles</h2>
<% @articles.each do |article| %>
  <ul>
    <%= link_to article.title, article %>
    <%= link_to "Delete", 
        article_path(article), 
        data: {turbo_method: :delete, turbo_confirm: "Woudld you like to delete this article?"} %> 
  </ul>


<% end %>
<p><%= link_to "new", new_article_path %></p>

