<h1>Encyclopedia</h1>

<h2> List of Articles </h2>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= button_to "New Article", new_article_path, method: :get %>
<%= button_to "Search Articles", search_articles_path, method: :get %>
