<h1>Encyclopedia</h1>

<div class="div-btn-index">
<a href="/articles">
<button class="btn-index-page">All Articles</button>
</a>
<a href="/articles/new">
<button class="btn-index-page">Create Article</button>
</a>
</div>
