<h1>Articles</h1>
<ul>
<%= link_to 'New Article', new_article_path, class: 'new-article-button' %>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      | <%= link_to 'Edit', edit_article_path(article) %>

      | <%= button_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

