<!-- app/views/articles/index.html.erb -->
<section class="search-results">

  <%= render 'articles_list', articles: @articles %>
  <div class="pagination">
    <%= will_paginate @articles %>
  </div>
</section>