<h1>Encyclopedia</h1>
<br/>
<h2>Articles</h2>
<ul>
    <% @articles.each do |article| %>
        <li>
            <a href="<%= article_path(article) %>">
                <%= article.title %>
            </a>
            by <%= article.author %> created at:<%= article.date %>
        </li>
    <% end %>
</ul>