<h1>Encyclopedia Articles</h1>

<% if @articles.empty? %>
  <p>No articles found.</p>
<% else %>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
<% end %>
