<h1>Hi Shopify's recruiting team !</h1>
<h2>Welcome to my Article manager</h2>

<h3> Articles </h3>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new Article", new_article_path %>