<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <table class="article-table__table">
    <tr>
      <th class="article-table__header-cell">Title</th>
      <th class="article-table__header-cell">Content</th>
      <th class="article-table__header-cell">Author</th>
      <th class="article-table__header-cell">Date</th>
    </tr>

    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  </table>
</div>