<h1>Articles</h1>

<ul>
  <!-- Iterate over each article and display the title -->
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>" >
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>

