<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%# first argument := link's text %>
      <%# second argument := link's destination (model gets automatically converted) %>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
