<h1 style="text-align:center; ">WIKI</h1>
<%# new_article_path redirects to /new %>

<br>
<%= link_to "Post a new article", new_article_path%>

<h1>All Articles:</h1>
<ul style="list-style-type:none;">

<%# Using conditionals to render something slightly different in case there are no articles posted to the wiki. %>
<%if @articles.any? %>
<%@articles.each do |article|%>
    <li> <%= link_to article.title, article%> </li>
<%end%>
<% else %>
<p>There are no articles posted yet. Post one today!</p>
<%end%>

<ul>

