
<div class="container">
  <%= render partial: 'layouts/search_form' %>

  <div id="articles container">
    <% @articles.each do |article| %>
      <%= render article %>
      <p class="container">
        <%= link_to "View article", article, class:"btn btn-secondary" %>
      </p>
    <% end %>
  </div>
</div>
