<h1>Welcome to The Hidden Article Library</h1>

<%= form_with url: articles_path, method: "get" do |form| %>
  <%= text_field_tag :search, params[:search], placeholder: "Search articles" %>
  <input type="submit" value="Search">
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to %{#{article.title}, by #{article.author&.name} (#{article.date})}, article %>
    </li>
  <% end %>
</ul>

<%= link_to '<button type="button">New Article</button>'.html_safe, new_article_path %>
