<div>
  <h1>Hi!!, this is articles index</h1>
  <p>You can see all the available articles on this page: </p>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= article.title %>
      </li>
    <% end %>
  </ul>
  <h2>Search articles</h2>

</div>
