<h1>The Encyclopedia</h1>

<%= render 'searchbar' %>

<ul>
    <% @articles.each do |article| %>
        <li> 
        <%= link_to article.title, article %>
        </li>
    <%end%>
</ul>

<%= link_to "New Article", new_article_path %>