<h1>Welcome to your article dashboard!</h1>
<p>Here you can view, delete and edit all your articles and create new ones.</p>
<button>
    <%= link_to "Go to my articles", articles_path() %>
</button>
