<div style="    display: flex;
  /*overflow-y: scroll;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
">
  <h2>Create New Article</h2>
</div>
  <%= render "form", article: @article %>

<br>

<div style="    display: flex;
  /*overflow-y: scroll;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
">
  <%= link_to "Back to articles", articles_path %>
</div>
