<div class="flex flex-col items-center justify-center mt-10">
  <div class="flex flex-col mt-10">
    <h1 class="article-title">Create new article</h1>
    <%= render "form", article: @article %>

  </div>
</div>
