<h1>New article</h1>

<%= render "form", article: @article %>

<div class="d-flex justify-content-center">
  <%= link_to "Back to articles", articles_path, class:"text-decoration-none link-secondary" %>
</div>
