<div class=encyclopedia>
  <h1>Create a New Article ✏️</h1>
  <%= render "form", article: @article %>
  <div class=nav>
    <%= link_to link_to 'Home', root_path, class: "button" %>
    <%= link_to 'Search', search_articles_path, class: "button" %>
  </div>
</div>