<h1>Add New Article</h1>

<!-- form to add new article to database -->
<%= render "form", article: @article %>
<br>

<!-- link to view all articles -->
<div>
  <%= link_to "Back to articles", articles_path, class:"btn btn-primary" %>
</div>
