<!-- File: new.html.erb -->
<!-- Programmer Name: Ali Rahbar -->
<!-- Description: This code is in charge of content of the content the user sees when a new article is gonna be created -->
<!-- Date: 2024-01-18 -->

<h1>New article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path, class:"btn btn-danger" %>
</div>
