<h2>New article</h2>

<%= render "form", article: @article %>

<div>
  <hr>
  <div class="" style="display:flex; flex-direction:row; justify-content:space-between;">
    <%= link_to "Back", articles_path , class:'btn btn-outline-dark'%>
   </div>
</div>