<section>
  <header>
    <h1>New Article</h1>
  </header>

  <main>
    <%= render "form", article: @article %>
  </main>

  <footer>
    <%= link_to "Back to Articles", articles_path %>
  </footer>
</section>