<h1>Search results</h1>

<% @articles.each do |article| %>
  <ul>
    <%= link_to article.title, article %>
    <%= link_to "Delete", 
        article_path(article), 
        data: {turbo_method: :delete, turbo_confirm: "Woudld you like to delete this article?"} %> 
  </ul>
<% end %>