<%= link_to "Home", articles_index_url %>
<h1> Search Results</h1>

<%= render "search_bar", article: @article %>

<% @articles = Article.search(params[:query]) %>

<% if @articles.any? %>
  <%= render "article_list", article: @article %>
<% else %> 
  <p>No articles found.</p>
<% end %>

<%= link_to "Home", articles_index_url %>

