<h1> Search Results</h1>

<%= render "searchbar", article: @article %>

<ul>
  <% @articles = Article.search(params[:query])
  @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
