<h1> Search Results</h1>

<%= render "searchbar", article: @article %>

<% @articles = Article.search(params[:query]) %>

<% if @articles.any? %>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
<% else %> 
  <p>No articles found.</p>
<% end %>
