<h1>Search results</h1>

<% if @articles.present? %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No articles found for the search query.</p>
<% end %>