<%# A page that displays the important information about a single article %>
<h1>article number <%=@article.id%></h1>
<h2>Title: <%= @article.title%></h2>
<p><%= @article.content%></h2>
<p><i>Time Created: <%= @article.created_at%></i></h2>