<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encyclopedia App</title>
</head>

<h1><%= @article.title %></h1>

<ul>
    <li>Author: <%= @article.author %></li>
    <li>Date: <%= @article.date %></li>
</ul>

<p><%= @article.content %></p>

</body>
</html>
