<!-- File: show.html.erb -->
<!-- Programmer Name: Ali Rahbar -->
<!-- Description: This code is in charge showing the content of the article -->
<!-- Date: 2024-01-18 -->

<%= render @article %>

<div class="button-container">
  <%= link_to "Back to articles", articles_path, class:"btn btn-primary"%>
  <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-secondary" %>

  <div >
    <br>
    <%= button_to "Delete article", @article, method: :delete, class:"btn btn-danger" %>
  </div>


</div>
