<div>
    <div class="mb-2">
        <h2 class="text-xl font-semibold text-gray-800">Title: <%= @article.title %></h2>
    </div>
    <div class="mb-2">
        <h2 class="text-xl font-semibold text-gray-800">Author: <%= @article.author %></h2>
    </div>
    <div class="mb-2">
        <h2 class="text-xl font-semibold text-gray-800">Date: <%= @article.date %></h2>
    </div>
    <div class="mt-4">
        <h4 class="text-lg font-medium text-gray-700">Content: <%= @article.content %></h4>
    </div>
</div>
