<div>
  <h1><%= @article.title %></h1>
  <p>Author: <%= @article.author ? @article.author : "Anonymous" %></p>
  <p>Date: <%= @article.date ? @article.date : 'Unknown Time' %></p>
  <p>Content: <%= @article.content %></p>
</div>