<%# Render UI specific article page%>

<p style="color: green"><%= notice %></p>
<%= button_to "Destroy this article", @article, method: :delete, class: "hover:shadow-xl mt-2 flex border border-black rounded-2xl text-center hover:bg-red-300 delay-100 transition delay-150 duration-300 ease-in-out grid w-2/12 mx-auto"%>
<%= link_to "Edit this article", edit_article_path(@article), class: "hover:shadow-xl mt-2 flex border border-black rounded-2xl text-center hover:bg-blue-300 delay-100 transition delay-150 duration-300 ease-in-out grid w-2/12 mx-auto" %>
<%= render @article %>
