<%= render @article %>

<div>
  <%= link_to "Edit", edit_article_path(@article) , class:"btn btn-secondary" %>
  <%= link_to "Back", articles_path, class:"btn btn-dark" %>

  <%= button_to "Delete", @article, method: :delete, class:"btn btn-danger" %>
</div>
