<h1>Article List</h1>
<% @articles.each do |article| %>
  <h3><%= link_to article.title, article_path(article) %></h3>
  <p><%= article.author %></p>
  <p><%= article.content %></p>
  <p><%= link_to "Update article", update_article_path(article) %></p>
<% end %>
