<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Articles App', home_index_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to 'About Me', home_about_path, class:"navbar-brand" %>
        </li>

        <li class="nav-item">
            <%= link_to 'Articles', articles_path, class:"navbar-brand" %>
        </li>

         <li class="nav-item">
            <%= link_to 'Add Article', new_article_path, class:"navbar-brand" %>
        </li>


      </ul>
      <form class="d-flex" role="search" action="/search">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


