<h1>Online Encyclopedia</h1>
<p>This web application, developed in Ruby on Rails, functions as a simple online Encyclopedia. It offers essential CURD capabilities, along with a search feature. Users have the ability to browse articles, create new ones, modify exesting ones, and remove them as needed. Additionally, by entering a keyword in the search bar, the site provides a list of all articles that include the specified term.</p>
<center><div class="d-grid gap-2">
  <%=link_to "Explore Articles", articles_path, class:'btn btn-primary'%>
</div></center>
