<%# Landing Page %>

<h1>Andressa Machado <span class="fw-lighter"> - Assessment</span></h1>
<h3 class="fw-light">Software Developer</h3>

<div class="d-flex">
  <div class="border-end border-warning border-3 pe-4 mt-4">
    <p class="fw-lighter"> 
      Hello and thank you so very much for your time going through my assessment! 
    </p>
      
    <p class="fw-lighter">
      Originally from Brazil and with a Bachelor of Laws degree, I started to work on my career 
      in tech since I got to Canada, in 2017.
    </p>
      
    <p class="fw-lighter">
      After going to an English program for 4 months, I went to Algonquin College to persue a 
      <b>Computer Engineer Technology - Computing Science Advanced Diploma </b>, 
      where I graduated with honous. 
    </p>

    <p class="fw-lighter"> 
      During my time at Algonquin, I had the opportunity to work as a <b>Software Developer Intern
      at Nokia</b> and before graduating and finishing my internship period, I was offered a 
      <b>full-time position as a Software Tester, also at Nokia.</b> 
    </p>

    <p class="fw-lighter">
      To continue to persue my dream of becoming a Software Developer, I have graduated
      from <b>Brainstation Web Development Bootcamp</b> in October, 2023 to fill in the gaps that 
      I had in my knowledge and to learn new technologies.
    </p>

    <p class="fw-lighter"> 
      I am currently looking for an opportunity to grow as a Developer and would be
      an honour to be part of your team at Shopify!
    </p>

    <div class="d-flex gap-0 column-gap-4">
      <p class="fw-lighter">
        Cheers, <br/>
        Andressa Machado. <br/> 
        <b>andressamachado.dev@gmail.com</b> 
      </p>

      <div class="d-flex justify-content-center align-items-center  gap-0 column-gap-4">
        <%= link_to image_tag('github-mark.png', :alt => 'GitHub icon', :width => 40), "https://github.com/andressamachado" %>
        <%= link_to image_tag('LI-In-Bug.png', :alt => 'LinkedIn icon', :width => 40), "https://www.linkedin.com/in/machado-andressa/" %>
      
      </div>
    </div>
  </div>

  <div class="d-flex align-items-start"> 
    <%= image_tag "Dayflow-Celebrating.png", height:400%>
  </div>
  
</div>