<div class="home-container">
    <header class="home-header">
        <h1>Shopify Rails Assessment</h1>
    </header>
    <section class="home-content">
        <p class="home-name">Name: Anh Minh Tran</p>
        <div class="home-functionalities">
            <h2>Functionalities</h2>
            <ul>
                <li>Support CRUD Operations & Search functionality</li>
                <li><span class="bold">Rate limit</span> to maximum 20 GET requests/minute per IP address</li>
                <li><span class="bold">Cache articles</span> to improve performance. Update cache when edit/delete an article</li>
            </ul>
        </div>
        <a href="/articles" class="home-button">Explore App</a>
    </section>
</div>
