<div class="home-container">
    <header class="home-header">
        <h1>Shopify Rails Assessment</h1>
    </header>
    <section class="home-content">
        <p class="home-name">Name: <span class="highlight">Anh Minh Tran</span></p>
        <div class="home-functionalities">
            <h2>Functionalities</h2>
            <ul>
                <li>Support CRUD Operations & Search functionality</li>
                <li>Rate limit to 20 GET requests per minute, per IP address</li>
                <li>Cache articles to improve performance. Update cache when edit/delete an article</li>
            </ul>
        </div>
    </section>
</div>
