<!-- app/views/welcome/index.html.erb -->

<h1>Welcome to My Article Site!</h1>
<p>This is the best place to read and share thoughts. Start your journey with us today!</p>
<%= link_to 'View Articles', articles_path, class: 'view-articles-button' %>
