<div class="container">
    <h1>Shopify Encyclopedia</h1>
    <p>Shopify Encyclopedia is the place to be for all the gist within Shopify. For non-employees, you wold be able to have some transparency on our company mission and values</p>
</div>