<h1> Welcome to Article Encyclopedia</h1>
<p>Our Encyclopedia allows users to create, view, edit, and delete articles. 
    The application also provides search functionality to help users find relevant articles. 
    Articles can be searched based on title, author, content or date!
</p>
