<%= stylesheet_link_tag "error"%>
<div class="error-container">
  <h1 class="error-code">Error 404</h1>
  <div class="error-body"> 
  Woops! Looks like the page you're looking for doesn't exist.
  </div>
</div>