<%= stylesheet_link_tag 'error' %>

<div class="error__container">
  <div class="error__title">404 Not Found</div>
  <div class="error__description">Seems like the record you're looking for is missing...</div>
</div>
