<div class="font-serif m-8">
  <h1 class="text-8xl my-10">Oops! Can't Find This...</h1>
  <p class="text-2xl my-8">The page you're looking for doesn't exist.</p>
  <a href="/" class="flex justify-center items-center p-3 text-2xl border border-slate-400 hover:bg-slate-100 w-36">Go Home!</a>
</div>
