form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form div {
  margin: 10px;
  text-align: center;
  height: fit-content;
}

form div textArea {
  width: 300px;
  height: 100px; 
}

.error-message{
  color:red;
}