body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.article_elem {
    padding: 30px;
    border: 1px solid #000;
}

.top_bar {
    display: flex;
    gap: 5%;
    margin-bottom: 1%;
}

.content {
    display: flex;
    border: 1px solid #000;
    width: 50%;
    margin-bottom: 1%;
    padding: 1%;
}
