.article-edit-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}

.article-edit-container input {
  border-radius: 5px;
  border: solid 1px #e6e6e6;
  padding: 1vh;
  margin: 1vh;
}

#article-edit-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}
#article-edit-content textarea {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
  border: solid 1px #e6e6e6;
  padding: 1vh;
  resize: none;
}