.flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: 2rem;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
