<!DOCTYPE html>
<html>
    <h1>Hello, this is Aman's project!</h1>
    <p>Thank you for this opportunity! This was my first time learning and using Ruby.
    Understanding the MVC Design Pattern was really cool. 
    Regardless of being selected or not, I gained valuable skills and hope to use Ruby more in the future.
    Please click 'Articles' above to check out all the CRUD actions!</p>
</html>
