<!-- File: _alerts.html.erb -->
<!-- Programmer Name: Ali Rahbar -->
<!-- Description: This block of code is in charge of displaying the notices of the application -->
<!-- Date: 2024-01-19 -->

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>