<head>
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            text-align: left;
        }
    
        .content {
            max-width: 50%;
            /* Additional styling here */
        }
    </style>
</head>

<div class="center-container">
    <div class="content">
        <%= content %>
    </div>
</div>