<%= stylesheet_link_tag "header"%>
<div class="header-container">
  <div class="header-title">
    <%= link_to root_path, :action => 'go' do %>
    Encyclopedia
    <% end %>
  </div>
  <div>
    📓
  </div>
</div>