<nav class="navbar">
    <div class="navbar-left">
        <span class="navbar-logo">TechCyclopedia</span>
    </div>
    <div class="navbar-right">
        <div class="navbar-link-container">
            <%= link_to 'Home', root_path, class: 'navbar-link' %>
        </div>
    </div>
</nav>